html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/theme/base16-dark.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.css")
    link(rel="stylesheet" href="/css/index.css")
    style.
      @import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700')
  body
    #area__login
      .center__loginWrap
        .login__header Login
        input(placeholder="username").login__input
        br
        input(placeholder="password" type="password").login__input
        button.submit__button Submit
    textarea#editor
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js")
    script(src="/js/index.js")
    script(src="/js/binary.js")













