html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/theme/base16-dark.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.css")
    link(rel="stylesheet" href="css/index.css")
    style.
      @import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700')
    script(src="js/libs/peer.js")
    script(src="js/libs/ajax.js")
    script.
        const URL = '138.197.153.174'
  body#area__all
    div#area__loading(v-show="enabled")
      div.loading__box
        div.loading__circle(v-for="user in others" v-bind:class="{'loading__circle--connected': user.done, 'loading__circle--ping': user.sent, 'loading__circle--pong': user.recieved}") 
      div.space__box(v-show="!connecting")
        form(v-on:submit.prevent="submit")
          div.space__header Space
          input(placeholder="Enter your space. i.e. codesync-server" v-model="space").space__input
          button.submit__button(type="submit") {{loading?'':'Submit'}}
            img(src="/img/ajax.gif" height="20px" v-show="loading")
    div#area__login(v-show="!token")
      div.center__loginWrap
        form(v-on:submit.prevent="submit")
          div.login__header Login
          div.login__error(v-show="errorMsg") {{errorMsg}}
          input(placeholder="username" v-model="username").login__input
          br
          input(placeholder="password" v-model="password" type="password").login__input
          button.submit__button(type="submit") {{loading?'':'Submit'}}
            img(src="/img/ajax.gif" height="20px" v-show="loading")
    div#header CodeBeem Browser
    div#area__file
    textarea#editor.
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.5/vue.min.js")
      
    script(src="js/editor.view.js")
    script(src="js/editor.controller.js")
    script(src="js/editor.model.js")
    script(src="js/editor.main.js")
